<div class="jumbottron">
  <% if current_user %>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Logged in user</h1>
        <ul>
          <li><strong>Name:</strong> <%= current_user.name %></li>
          <li><strong>Nickname:</strong> <%= current_user.nickname %></li>
        </ul>
      </div>
    </div>
  <% else %>
    <p>Please authenticate with Github.</p>
  <% end %>
</div>

<%= react_component "Index", {
      user: current_user
    }
%>
